<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.catalinstan.WebShot</string>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/WebApplications/WebShot.app/Contents/MacOS/WebShot</string>
        <string>-FastCGI</string>
        <string>NO</string>
        <string>-Port</string>
        <string>10020</string>
        <string>-BaseURL</string>
        <string>https://criollo.io/</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string>FCGIKit WebShot Demo</string>
	<key>StandardErrorPath</key>
	<string>/var/log/com.catalinstan.WebShot.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/com.catalinstan.WebShot.log</string>
</dict>
</plist>
